body {
    background: #333333; 
    font-family: "Courier New", Courier, monospace;
    color:#FFF;
}

  /* If the screen size is 600px wide or greater, set the font-size of <div> to 30px */
  @media screen and (min-width: 1201px) {
    h1 {
      font-size: 78px;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 1200px) {
    h1 {
        font-size: 6vw;
    }
  }

h2 {
    color: #FFFFFF;
    font-size:3vw;
    text-shadow:#FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px, 5px 1px 6px rgba(206,89,55,0);
    letter-spacing: 8pt;
    text-transform: uppercase;
}

.center {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:70%;
    text-align:center;
}

@media screen and (min-width: 1000px) {
    .center {
        display:block;
        margin-left:auto;
        margin-right:auto;
        width:800px;
    }
}

@media screen and (min-width: 1001px) {
    h2 {
        font-size: 32pt;
    }
  }

  @media screen and (max-width: 1000px) {
    h2 {
        font-size: 4vw;
    }
  }


hr{
    width:50%;
    border:3px dotted;
}

a:link, a:visited{
    color: #FFF; 
}

a:hover{
    color: #FF2D95;
}


#main-header{
    width:85%;
    margin:30px auto;
    padding:15px;
    border: 3px solid #cccccc;
    background:black;
    font-weight:bold;
    border-radius:15px;
    text-align:center;
}

#main-header p{
    text-align:center; 
    padding:5px 80px 5px 80px;
}

#main-footer{
    text-align:center;
    margin:30px;
}

.fa {
    padding: 15px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    border:2px #FF2D95 solid;
}
    .fa:hover {
        background: #FF2D95;
        color: white;
    }
    .fa-google {
        opacity: 70%;
        color: white;
    }
    .fa-linkedin {
        opacity: 70%;
        color: white;
    }

#navbar{
    color:#FFF;
    
}
#navbar ul{
    list-style: none;
    text-align:center;
}
#navbar li{
    display:inline;
}
#navbar a{
    color:fff; 
    text-decoration:none; 
    font-size:20px;
    padding-right:20px;
    color:#FFF;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px, 5px 1px 6px rgba(206,89,55,0);
}
    #navbar a:hover{
        color: #FF2D95; 
    }

#showcase{
    margin:15px auto;
    width:80%;
    flex-direction:column;
}

#showcase div{
    margin:15px auto;
    padding:30px;
    border: 2px white solid;
    display:flex;
    border-radius:25px;
}

#showcase a{
    color: #FFFFFF;
    background: #FF2D95;
    text-decoration:none; 
    font-size: 20pt;
}

.box1{
    flex:1;
    background-image: url("../images/fractalDark.png");
    background-position:center center; 
}
    .box1:hover{
        background-image: url("../images/fractalLight.png");
    }

.box2{
    flex:1;
    background-image: url("../images/genesDark.jpg");
    background-position:center center; 
}
    .box2:hover{
        background-image: url("../images/genesLight.jpg");
    }

.box3{
    flex:1;
    background-image: url("../images/2344Cut.jpg");
    background-position:center center; 
}
    .box3:hover{
        background-image: url("../images/2344outline.jpg");
    }

.box4{
    flex:1;
    background-image: url("../images/rollover2.jpg");
    background-position:center center; 
}
    .box4:hover{
        background-image: url("../images/rollover1.jpg");
    }